@model Bank.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromBank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromBank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestBank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestBank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Constant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Constant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Variable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specific)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specific)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
